* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white; }

/* stylelint-disable */
/* stylelint-disable */
.header {
  height: 850px;
  /* stylelint-disable */
  background: linear-gradient(-65deg, #fcfcfd 10%, #fcfcfd 0%, #fcfcfd 22%, #56ccf2 20%);
  /* stylelint-enable */ }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 32px;
    padding-top: 48px; }
  .header__logo {
    font-weight: 700;
    font-size: 32px;
    -webkit-animation: logo 3s;
            animation: logo 3s; }
  .header__section {
    max-width: 1150px; }
  .header__title {
    font-weight: 900;
    font-size: 64px;
    margin: 100px 0 32px; }
  .header__text {
    font-size: 24px;
    margin-bottom: 42px; }
  .header__button {
    font-weight: 700;
    font-size: 16px;
    padding: 16px 65px;
    background-color: #fff;
    border-radius: 64px;
    border: none;
    color: #334563;
    letter-spacing: 1px;
    margin-bottom: 80px;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
    outline-color: rgba(255, 255, 255, 0.3); }
    .header__button:hover {
      cursor: pointer;
      color: white;
      background-color: #334563; }
  .header__img {
    margin: auto; }

@media screen and (max-width: 1350px) {
  .header__logo {
    padding: 0 40px; } }

@media screen and (max-width: 1025px) {
  .header__nav {
    padding: 48px 20px 0; } }

@media screen and (max-width: 999px) {
  .header {
    background: #56ccf2; }
    .header__logo {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto 30px; }
    .header__title {
      font-size: 40px;
      margin: 50px 0 32px; }
    .header__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media screen and (max-width: 500px) {
  .header__section {
    padding: 0 10px;
    text-align: center; }
  .header__title {
    font-size: 40px;
    margin: 30px 0 32px; } }

@media screen and (min-width: 1610px) {
  .header {
    /* stylelint-disable */
    background: linear-gradient(-65deg, #fcfcfd 10%, #fcfcfd 0%, #fcfcfd 32%, #56ccf2 20%);
    /* stylelint-enable */ } }

@-webkit-keyframes logo {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes logo {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* stylelint-disable */
/* stylelint-disable */
.nav {
  margin-left: 43px; }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item {
    margin-left: 63px;
    font-weight: 700;
    -webkit-animation: navbar 2s;
            animation: navbar 2s; }
    .nav__item:last-child {
      margin-left: 135px; }
  .nav__link {
    outline-color: rgba(255, 255, 255, 0.3);
    color: white;
    -webkit-transition: color 0.7s;
    transition: color 0.7s; }
    .nav__link:hover {
      color: #fcc304; }
    .nav__link--active {
      outline-color: rgba(255, 255, 255, 0.3);
      color: white;
      margin-left: 4px;
      -webkit-transition: color 0.7s;
      transition: color 0.7s; }
      .nav__link--active:hover {
        color: #fcc304; }
      .nav__link--active::after {
        content: "";
        height: 4px;
        width: 64px;
        opacity: 1;
        -webkit-animation: after 2s;
                animation: after 2s;
        -webkit-animation-delay: 2s;
                animation-delay: 2s;
        display: block;
        background-color: #fcc304;
        border-radius: 2px; }

@media screen and (max-width: 1025px) {
  .nav__item:last-child {
    margin-left: 65px; } }

@media screen and (max-width: 999px) {
  .nav {
    margin-left: 0; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .nav__item {
      margin: 0 auto 20px; }
      .nav__item:last-child {
        margin: auto; } }

@-webkit-keyframes navbar {
  from {
    margin-top: 100px; }
  to {
    margin-top: 0; } }

@keyframes navbar {
  from {
    margin-top: 100px; }
  to {
    margin-top: 0; } }

@-webkit-keyframes after {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: 64px;
    opacity: 1; } }

@keyframes after {
  from {
    width: 0;
    opacity: 0; }
  to {
    width: 64px;
    opacity: 1; } }

/* stylelint-disable */
/* stylelint-disable */
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slider__content {
    position: relative;
    max-width: 1150px;
    width: 100%; }
  .slider__img {
    width: 100%; }
  .slider__rectangle {
    position: absolute;
    top: calc(50% - 70px / 2);
    left: calc(0% - 164px / 2); }
  .slider__button--left {
    position: absolute;
    top: calc(50% - 30px / 2);
    left: calc(0% - 45px);
    padding: 10px;
    border: none;
    background-color: #fcce04;
    opacity: 1;
    outline: none; }
  .slider__button--right {
    position: absolute;
    top: calc(50% - 30px / 2);
    left: calc(0% + 30px);
    background-color: #fcce04;
    padding: 10px;
    border: none;
    outline: none; }
  .slider__vector-left {
    position: absolute;
    top: calc(50% - 22px / 2);
    left: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .slider__vector-left:hover {
      -webkit-transform: translate(-5px) scale(1.2);
              transform: translate(-5px) scale(1.2);
      cursor: pointer; }
  .slider__vector-right {
    position: absolute;
    top: calc(50% - 22px / 2);
    left: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .slider__vector-right:hover {
      -webkit-transform: translate(5px) scale(1.2);
              transform: translate(5px) scale(1.2);
      cursor: pointer; }
  .slider__inner {
    position: absolute;
    max-width: 264px;
    bottom: 86px;
    left: 98px; }
  .slider__title {
    font-weight: 800;
    font-size: 12px;
    color: #56ccf2;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .slider__text {
    font-weight: 900;
    font-size: 19px;
    color: white;
    margin-top: 4px; }

@media screen and (max-width: 1450px) {
  .slider__rectangle {
    position: absolute;
    top: calc(100% - 70px / 2);
    left: calc(50% - 164px / 2); }
  .slider__button--left {
    position: absolute;
    top: calc(100% - 36px / 2);
    left: calc(50% - 45px);
    padding: 10px;
    border: none;
    background-color: #fcce04;
    opacity: 1;
    outline: none; }
  .slider__button--right {
    position: absolute;
    top: calc(100% - 30px / 2);
    left: calc(50% + 30px);
    background-color: #fcce04;
    padding: 10px;
    border: 1px none;
    outline: none; }
  .slider__vector-left {
    position: absolute;
    top: calc(100% - 20px);
    left: calc(50% - 15px); }
  .slider__vector-right {
    position: absolute;
    top: calc(100% - 22px);
    left: calc(50% - 5px); } }

@media screen and (max-width: 500px) {
  .slider__inner {
    position: absolute;
    max-width: 264px;
    bottom: 50px;
    left: 18px; } }

/* stylelint-disable */
/* stylelint-disable */
.contact {
  position: absolute;
  right: -320px;
  top: calc(50% - 19px / 2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px; }
  .contact__link {
    font-weight: 800;
    font-size: 12px;
    margin: auto;
    text-transform: uppercase;
    color: #334563;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 2px;
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
    outline-color: rgba(86, 204, 242, 0.3); }
    .contact__link:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

@media screen and (max-width: 1450px) {
  .contact {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    left: 0;
    bottom: -70%;
    max-width: 1150px;
    width: 100%; } }

@media screen and (max-width: 990px) {
  .contact {
    bottom: -80%; } }

@media screen and (max-width: 500px) {
  .contact {
    bottom: -150%; } }

/* stylelint-disable */
/* stylelint-disable */
.welcome {
  background: #fcfcfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .welcome__content {
    padding-top: 485px;
    max-width: 750px; }
  .welcome__text {
    color: #334563;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 160px;
    line-height: 1.5; }
  .welcome__icon {
    margin-right: 16px; }

@media screen and (max-width: 999px) {
  .welcome__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding: 655px 30px 0;
    max-width: 750px; } }

@media screen and (max-width: 768px) {
  .welcome__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    padding: 455px 30px 0;
    max-width: 750px; }
  .welcome__text {
    margin-top: 30px; } }

@media screen and (max-width: 500px) {
  .welcome__content {
    padding: 455px 40px 0;
    max-width: 550px; }
  .welcome__text {
    margin-top: 30px;
    text-align: center; } }

/* stylelint-disable */
/* stylelint-disable */
.what-we-do {
  display: grid;
  grid-template-columns: repeat(3, 264px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .what-we-do__title {
    font-weight: 900;
    font-size: 48px;
    display: block;
    text-align: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #334563;
    margin-bottom: 136px; }

@media screen and (max-width: 1450px) {
  .what-we-do {
    grid-template-columns: repeat(3, 264px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px; } }

@media screen and (max-width: 999px) {
  .what-we-do {
    grid-template-columns: 264px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 768px) {
  .what-we-do {
    grid-template-columns: 264px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 500px) {
  .what-we-do {
    grid-template-columns: 264px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .what-we-do__title {
      margin-bottom: 50px; } }

/* stylelint-disable */
/* stylelint-disable */
.card__photo {
  width: 160px;
  height: 160px;
  margin-bottom: 64px; }

.card__title {
  color: #334563;
  font-size: 19px;
  font-weight: 900;
  margin-bottom: 42px; }

.card__text {
  color: #334563;
  margin-bottom: 160px; }

@media screen and (max-width: 999px) {
  .card {
    text-align: center; }
    .card__photo {
      margin-bottom: 20px; }
    .card__text {
      margin-bottom: 100px; }
    .card__title {
      margin-bottom: 20px; } }

/* stylelint-disable */
/* stylelint-disable */
.process {
  display: grid;
  grid-template-columns: 362px 540px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 816px; }
  .process--background {
    background: #fcfcfd;
    margin: 0 64px; }
  .process__content {
    margin-top: 160px; }
  .process__text {
    color: #334563;
    line-height: 1.5; }

@media screen and (max-width: 1450px) {
  .process {
    grid-template-columns: 300px 440px;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media screen and (max-width: 1025px) {
  .process {
    grid-template-columns: 300px 300px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .process--background {
      background: #fcfcfd;
      margin: 0; } }

@media screen and (max-width: 1250px) {
  .process {
    grid-template-columns: 500px; }
  __content {
    margin-top: 50px; } }

@media screen and (max-width: 500px) {
  .process {
    grid-template-columns: 300px; }
    .process__content {
      margin-top: 50px; }
    .process__text {
      text-align: center; } }

/* stylelint-disable */
/* stylelint-disable */
.number {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 336px;
  position: relative;
  z-index: 1; }
  .number__wrapper {
    display: grid;
    grid-template-columns: 240px 240px;
    -webkit-column-gap: 58px;
       -moz-column-gap: 58px;
            column-gap: 58px; }
  .number--right {
    margin-top: 225px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 1; }
  .number__card {
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
            box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    background-color: #fff;
    padding: 48px 30px;
    margin-bottom: 128px; }
  .number__title--one {
    /* stylelint-disable */
    /* stylelint-enable */
    color: #56ccf2;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  .number__title--two {
    /* stylelint-enable */
    color: #fcc304;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  .number__title--three {
    /* stylelint-enable */
    color: #03d542;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  .number__title--four {
    /* stylelint-enable */
    color: #f25656;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    /* stylelint-enable */ }
  .number__text {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    font-size: 12px;
    color: #334563; }

@media screen and (max-width: 1250px) {
  .number {
    margin-top: 100px; }
    .number__wrapper {
      display: grid;
      grid-template-columns: 264px 264px;
      row-gap: 128px; }
    .number--right {
      margin-top: 100px; } }

@media screen and (max-width: 768px) {
  .number__wrapper {
    display: grid;
    grid-template-columns: 240px 240px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; } }

@media screen and (max-width: 500px) {
  .number {
    margin-top: 50px; }
    .number__wrapper {
      grid-template-columns: 270px;
      row-gap: 0; }
    .number--right {
      margin-top: 0; } }

/* stylelint-disable */
/* stylelint-disable */
.features {
  height: 976px;
  background: #56ccf2;
  padding-top: 200px;
  position: relative; }
  .features__content {
    max-width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .features__photo {
    height: 976px;
    width: 976px;
    position: absolute;
    right: 0;
    top: 0; }

@media screen and (max-width: 1250px) {
  .features {
    margin: 300px 0 50px; }
    .features__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: auto;
      max-width: 500px; }
    .features__photo {
      display: none; } }

@media screen and (max-width: 500px) {
  .features {
    margin: 1100px 0 50px;
    padding-top: 50px; }
    .features__content {
      max-width: 300px; } }

@media screen and (min-width: 1610px) {
  .features__photo {
    right: 17%;
    -webkit-animation: photo 3s;
            animation: photo 3s; } }

@-webkit-keyframes photo {
  from {
    right: 0; }
  to {
    right: 17%; } }

@keyframes photo {
  from {
    right: 0; }
  to {
    right: 17%; } }

.container {
  max-width: 1150px;
  margin: 0 auto; }
  .container--inner {
    max-width: 750px;
    margin-left: 98px; }

@media screen and (max-width: 500px) {
  .container--inner {
    max-width: 400px;
    margin: 0; } }

/* stylelint-disable */
/* stylelint-disable */
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px; }
  .icons__img {
    background: white;
    height: 64px;
    border-radius: 50%;
    margin-right: 32px; }
  .icons__text {
    color: white;
    line-height: 1.5; }

/* stylelint-disable */
/* stylelint-disable */
.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .subtitle__icon {
    margin-right: 16px; }
  .subtitle__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    color: #56ccf2; }
    .subtitle__title--white {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 800;
      color: white; }

@media screen and (max-width: 1025px) {
  .subtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.testimonials {
  -webkit-transform: translateY(170px);
          transform: translateY(170px); }

@media screen and (max-width: 1250px) {
  .testimonials {
    padding: 0 20px; } }

@media screen and (max-width: 1025px) {
  .testimonials {
    padding: 0 20px;
    -webkit-transform: translateY(120px);
            transform: translateY(120px); } }

@media screen and (max-width: 500px) {
  .testimonials {
    padding: 0 20px;
    -webkit-transform: translateY(50px);
            transform: translateY(50px); } }

/* stylelint-disable */
/* stylelint-disable */
.local-title {
  font-weight: 900;
  font-size: 32px;
  color: #334563;
  margin: 20px 0 64px;
  max-width: 362px; }

@media screen and (max-width: 1024px) {
  .local-title {
    margin: 40px auto; } }

@media screen and (max-width: 500px) {
  .local-title {
    text-align: center; } }

/* stylelint-disable */
/* stylelint-disable */
.unusual-cards {
  margin: auto;
  text-align: center;
  padding: 0 32px;
  position: relative;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  background: #fefefe; }
  .unusual-cards__ground {
    position: relative;
    left: 0;
    height: 161px;
    margin-top: 40px; }
  .unusual-cards__photo {
    height: 123px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(0% + 90px); }
  .unusual-cards__text {
    font-size: 14px;
    font-style: italic;
    color: #334563;
    margin-top: 30px; }
    .unusual-cards__text::after {
      display: block;
      content: "";
      height: 2px;
      width: 64px;
      background-color: #56ccf2;
      margin: 31px auto; }
  .unusual-cards__name {
    font-weight: 700;
    font-size: 12px;
    color: #152032; }
  .unusual-cards__position {
    text-transform: uppercase;
    color: #56ccf2;
    letter-spacing: 2px;
    font-weight: 800;
    line-height: 1.5;
    padding-bottom: 58px; }

.vision {
  background: #fcfcfd;
  border: 1px solid transparent; }

.cards-wrapper {
  display: grid;
  -webkit-column-gap: 78px;
     -moz-column-gap: 78px;
          column-gap: 78px;
  grid-template-columns: repeat(3, 314px); }

@media screen and (max-width: 1350px) {
  .cards-wrapper {
    display: grid;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    grid-template-columns: repeat(3, 300px); } }

@media screen and (max-width: 999px) {
  .cards-wrapper {
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(1, 500px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 500px) {
  .cards-wrapper {
    grid-template-columns: repeat(1, 270px); } }

/* stylelint-disable */
/* stylelint-disable */
.apply {
  background: url(../images/bg6.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 608px;
  margin-top: 200px;
  width: 100%; }
  .apply__content {
    max-width: 750px;
    padding-top: 170px; }
  .apply__title {
    color: #334563;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    margin-bottom: 57px; }
  .apply__text {
    color: #334563;
    font-weight: 600;
    font-size: 24px;
    text-align: center; }
  .apply__button {
    background: #2f80ed;
    border-radius: 64px;
    padding: 16px 88px;
    color: white;
    display: block;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 55px auto 0;
    border: 1px solid transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    outline-color: rgba(47, 128, 237, 0.2); }
    .apply__button:hover {
      color: #2f80ed;
      border: 1px solid #2f80ed;
      background-color: white; }

@media screen and (max-width: 1350px) {
  .apply {
    background: #fcfcfd; } }

@media screen and (max-width: 500px) {
  .apply {
    padding: 0 30px;
    margin-top: 10px; }
    .apply__button {
      margin: 100px auto 0; } }

@media screen and (min-width: 1610px) {
  .apply {
    background-repeat: repeat; } }

/* stylelint-disable */
/* stylelint-disable */
.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 370px; }
  .contact-us__text {
    font-weight: 800;
    font-size: 12px;
    color: #334563;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contact-us__number {
    color: #56ccf2;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;
    outline-color: rgba(86, 204, 242, 0.2);
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
    .contact-us__number:hover {
      color: #fcc304; }
  .contact-us__address {
    color: #56ccf2;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 53px; }

@media screen and (max-width: 500px) {
  .contact-us {
    text-align: center; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px; }

@media screen and (max-width: 1250px) {
  .contacts {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media screen and (max-width: 999px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 500px) {
  .contacts {
    padding: 100px 20px 0; } }

/* stylelint-disable */
/* stylelint-disable */
.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 650px; }
  .send__form {
    margin-top: 100px; }
  .send__input {
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    border: none;
    background: #fcfcfd;
    border-bottom: 1px solid #e1e1e1;
    color: #152032;
    line-height: 68px;
    outline-color: rgba(252, 252, 253, 0.2); }
  .send__button {
    background: #2f80ed;
    padding: 17px 92px;
    border-radius: 64px;
    color: white;
    margin-top: 105px;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    border: 1px solid transparent;
    margin-bottom: 136px;
    outline-color: rgba(47, 128, 237, 0.2); }
    .send__button:hover {
      color: #2f80ed;
      border: 1px solid #2f80ed;
      background-color: white; }

@media screen and (max-width: 1025px) {
  .send {
    padding: 0 30px; } }

@media screen and (max-width: 500px) {
  .send {
    padding: 100px 30px 0; }
    .send__button {
      margin: 50px auto; } }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .socials__link {
    margin-left: 48px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    outline-color: rgba(86, 204, 242, 0.2); }
    .socials__link:hover {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); }
    .socials__link:first-child {
      margin-left: 0; }

@media screen and (max-width: 999px) {
  .socials__link {
    margin: 0 auto 50px; }
    .socials__link:first-child {
      margin: 0 auto 50px; } }

/* stylelint-disable */
/* stylelint-disable */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 83px; }
  .footer--ground {
    background: #fcfcfd; }
  .footer__text {
    font-weight: 700;
    font-size: 16px;
    color: #253757; }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__link {
    font-weight: 700;
    font-size: 16px;
    margin-left: 63px;
    color: #253757;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    outline-color: rgba(86, 204, 242, 0.2); }
    .footer__link:hover {
      color: #25572d;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .footer__link:first-child {
      margin-left: 0; }

@media screen and (max-width: 1250px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px; } }

@media screen and (max-width: 999px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer__link {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 0;
      margin-bottom: 10px; }
    .footer__text {
      margin-bottom: 30px; } }

@media screen and (max-width: 500px) {
  .footer {
    padding-bottom: 20px; }
    .footer__link {
      margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
